[submodule "themes/ergo"]
	path = themes/ergo
	url = https://github.com/insipx/ergo
[submodule "themes/linkita"]
	path = themes/linkita
	url = https://codeberg.org/salif/linkita.git
[submodule "theme/float"]
	path = theme/float
	url = https://gitlab.com/float-theme/float.git
